.social{
    margin-block: 100px;
}

.social__box{
    margin-block-start: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.social__image{
    grid-column: 4 span;
}

@media (max-width:1000px) {
    .social__box{
        place-items: center;
        grid-template-columns: repeat(6, 1fr);
    }
    .social__image{
        grid-column: 3 span;
    }
}

@media (max-width:600px) {
    .social__image{
        grid-column: 6 span;
    }
}