.header{
    padding-block: 26px;
}

.header__box{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 76px;
}

.nav{
    grid-column: 11 span;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.nav__list{
    display: flex;
    gap: 86px;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #705A66;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}