.introLine{
    width: max-content;
    margin-inline: auto;
    justify-content: center;
    display: flex;
    color: #705A66;
    font-size: clamp(25px, 5vw + 1rem, 100px);
    font-family: Moniqa;
    font-weight: 900;
    position: relative;
    z-index: 10;
}
