
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Silkscreen:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
body {
  font-family: 'Bacasime Antique', serif;
  font-family: 'Silkscreen', cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F7F8;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}