.types{
    padding-block: 120px;
    overflow: hidden;
}

.types__box{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 30px;
   row-gap: 47px;
}
.type__item{
    list-style: none;
    max-width: 605px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.type__item{
    grid-column: 6 span;
}

.types__image{
    border-radius: 126.5px;
    overflow: hidden;
    max-width: 605px;
    position: relative;
}

.types__image::before{
    --radius: 30px;
    --inset: 18px;
    --transition-length: 28px;
    --blur: 12px;

        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        border-radius: var(--radius);
        -webkit-backdrop-filter: blur(var(--blur));
        backdrop-filter: blur(var(--blur));
        --r: max(var(--transition-length), calc(var(--radius) - var(--inset)));
        --corner-size: calc(var(--r) + var(--inset)) calc(var(--r) + var(--inset));
        --corner-gradient: transparent 0px,
          transparent calc(var(--r) - var(--transition-length)), black var(--r);
        --fill-gradient: black, black var(--inset),
          transparent calc(var(--inset) + var(--transition-length)),
          transparent calc(100% - var(--transition-length) - var(--inset)),
          black calc(100% - var(--inset));
        --fill-narrow-size: calc(100% - (var(--inset) + var(--r)) * 2);
        --fill-farther-position: calc(var(--inset) + var(--r));
        -webkit-mask-image: linear-gradient(to right, var(--fill-gradient)),
          linear-gradient(to bottom, var(--fill-gradient)),
          radial-gradient(at bottom right, var(--corner-gradient)),
          radial-gradient(at bottom left, var(--corner-gradient)),
          radial-gradient(at top left, var(--corner-gradient)),
          radial-gradient(at top right, var(--corner-gradient));
        -webkit-mask-size: 100% var(--fill-narrow-size), var(--fill-narrow-size) 100%,
          var(--corner-size), var(--corner-size), var(--corner-size),
          var(--corner-size);
        -webkit-mask-position: 0 var(--fill-farther-position), var(--fill-farther-position) 0,
          0 0, 100% 0, 100% 100%, 0 100%;
        -webkit-mask-repeat: no-repeat;
        transition: all 500ms ease-in-out;
}

.types__image:hover:before{
    width: 0%;
}

.types__image img{
    object-fit: cover;
}

.types__btn{
    color: #705A66;
    text-align: center;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 10px;
    background: #F5EEE0;
    padding: 19px 78px;
    min-width: 276px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -17px;
}

@media (max-width: 1000px) {
  .types__box{
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
  }
  .type__item{
    grid-column: 6 span;
  }
}